<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiE1flDtUDss58w7VdZ5zf7CNfmu84Ia4</string>
	 <key>CFBundleDisplayName</key>
    <string>Workiando</string>
	<key>GCM_SENDER_ID</key>
	<string>530045422051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chambea-Pe-Oficial</string>
	<key>PROJECT_ID</key>
	<string>chambeape-76f57</string>
	<key>STORAGE_BUCKET</key>
	<string>chambeape-76f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<!-- <key>GOOGLE_APP_ID</key>
	<string>1:530045422051:ios:bf95b5a130b8222afb38d6</string> -->
</dict>
</plist>